*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: espace-between;
    height: 80vh;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.empty-state{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visualization{
    width: 70%;
}

.header{
    text-align: center;
    margin-bottom: 20px;
}